# ============ REQUIRED ============
# ============ MEDIA COMMANDS (Optional but needed for bot-hosting.net) ============
# Get here: https://newsapi.org/register
NEWS_API_KEY=

# Get here: https://www.themoviedb.org/settings/api
TMDB_API_KEY=

# Get here: https://console.groq.com/keys
GROQ_API_KEY=

# Telegram for .sticker command - Get at: https://my.telegram.org
TELEGRAM_API_ID=
TELEGRAM_API_HASH=


